
body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Night_stars_berlin.png/800px-Night_stars_berlin.png');
  background-color: #cccccc;
}
p {
  font-size: 14pt;
}

h2 {
  padding-top: 20px;
}

#date-form {
  color: #ffff99;
  font-family: Arial, Helvetica, sans-serif;
}
.centerfield{
  margin-left: 43%;
}

#click {
  position: absolute;
  color: #ffff99;
  font-family: Arial, Helvetica, sans-serif;
}

.solar-system {
  background-color: black;
}

#earth {
  float: left;
  margin-top: 100px;
  width: 300px;
  height: auto;
}

element.style {
  font-size: 100px;
  margin-left: 317.362px;
}

.asteroid {
  position: absolute;
  margin-top: 240px;
  margin-left: 0px;
  color: yellow !important;
  font-size: 20px;
  list-style-type: circle !important;
}

.hazardous {
  color: red !important;
  list-style-type: circle !important;
}

.size-small {
  font-size: 140px !important;
  list-style-type: circle !important;
}

.size-medium {
  font-size: 160px !important;
  list-style-type: circle !important;
}

.size-large {
  font-size: 200px !important;
  list-style-type: circle !important;
}

.speed-low {
  text-shadow: 0px 0px 10px cyan, 3px 5px 15px cyan !important;
  list-style-type: circle !important;
}

.speed-medium { 
  text-shadow: 0px 0px 10px rgb(241, 228, 37), 1px 5px 15px rgb(241, 228, 37), 2px 10px 20px  rgb(241, 228, 37) !important;
  list-style-type: circle !important;
}

.speed-high {
  text-shadow: 0px 0px 10px rgb(255, 17, 0), 1px 5px 15px rgb(255, 17, 0), 2px 10px 20px rgb(255, 17, 0), 3px 15px 20px rgb(255, 17, 0) rgb(255, 17, 0), 3px 25px 20px rgb(255, 17, 0) !important;
  list-style-type: circle !important;
}


