body {
    background-color: black;
}
.jumbotron, jumbotron-fluid {
    width: 100%;
    height: 575px;
    background-size: cover;
    margin-top: -10%;
    margin-bottom: 0%;
	background: rgba (76, 175, 80, 0.1);
	border-radius: 0px 0px 0px 0px;
	border-left: 0%;
	border-right: 0%;
    padding-top: 0%;
    background-repeat: no-repeat;
    background-image: url("../images/mars-6.jpg");
}
h1.jth1 {
    text-align: center;
    color: white;
    padding-top: 20%;
    font-size: 18pt;
    font-family: 'Orbitron', sans-serif;
    font-style: black;
    letter-spacing: 5px;
}
.bannerblock {
  display: block;
  background-color: #343a40;
  width: 100%;
  margin-top: 0%;
  padding-bottom: 30px;
  box-sizing: border-box;
  font-size: 0;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  border-right: 0px;
}
h3.jth3 {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
}
.bannerh2 {
    padding-top: 30px;
    padding-bottom: 0px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    padding-left: 0px;
    font-size: 18px;
    color: rgb(185, 184, 184);
    text-align: center;
    font-weight: bolder;
}
.bannerp {
    text-align: center justify;
    letter-spacing: 1px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
}
h2 {
    padding-top: 30px;;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    text-align: center;
}
h3 {
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    text-align: center;
}
p {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.footer {
    position: fixed;
    font-family: 'Orbitron', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: #343a40;
    color: rgb(185, 184, 184);
    text-align: center;
    padding-left: 0px;
    letter-spacing: 2px;
    font-size: 8pt;
 }
 .closer {
     padding-bottom: 40px;
     margin-bottom: 60px;
 }
 
@media screen and (min-width: 1025px) and (max-width: 1223px) {

	body {
        background-image: url("../images/smegol_small.png");
        width: 80%;
		background-repeat: no-repeat;
		background-color: black;
		background-size: 100% 100%;
	}
	
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.50;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}
 

